* {padding: 0;
    margin: 0;
    box-sizing: border-box;}
.flex{
    display: flex;
}
/* HEADER */
header{
    background-image: url(../img/jumbo.png);
    width: 100%;
    min-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{width: 1000px;
    height: auto;
    margin:0 auto;
    padding:1rem 0;}

.container div{flex-grow: 3;
    margin: auto;}
.container img{flex-grow: 1;}
.container button{flex-grow: 1;}

    ul{
        list-style: none;
    }
    ul li a{padding:1rem;
        text-decoration: none;
        color: white;
        
    }
    ul{justify-content: center;}
    .bottone{
        border:0;
        background-color: white;
        border-radius: 25px;
        margin:0.5rem 0.8rem;
        padding: 0;
    }
    /* nav finito */
h1, p{color: white;
text-align: center;
    padding: 1.5rem;}
p{
    padding: 0.3rem ;
}
.bottone-grande-bianco{
    padding: 0.5rem 0.8rem;
}
.bottone-grande-nero{
    padding: 0.5rem 0.8rem;
    color: white;
    background-color: rgb(41, 40, 40);
}

/* FINE HEADER */
